* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
header {
    display: flex;
    justify-content: center;
}

body {
    background-color: black;
    size: 100%;
    width: 100%;
    padding-top: 15%;
}


main {
    width: 80%;
    height: 60vh;
    display: grid;
    grid-template-areas:
        'a a a b b'
        'a a a b b'
        'c c d d d'
        'c c e e e'
    ;

    background-color: white;
    gap: 15px;
    margin: auto auto auto auto;
    padding: 2%;
}

.uno {
    background-color: rgb(255, 64, 0);
    grid-area: a;

}

.dos {
    background-color: rgb(255, 157, 0);
    grid-area: b;
}

.tres {
    background-color: rgba(0, 128, 34, 0.896);
    grid-area: c;

}

.cuarto {
    background-color: rgba(0, 255, 255, 0.736);
    grid-area: d;
}

.cinco {
    background-color: rgba(0, 255, 255, 0.736);
    grid-area: e;
}